# Logs
logs/
*.log
npm-debug.log*

# Dependency directory
node_modules/
# Fixture dependencies
!fixtures/e2e/node_modules

# Build directory
out/

# VS Code binary
.vscode-test

*.vsix

# e2e
fixtures/e2e/.vscode
